.navTabs
  display: flex
  position: relative
  width: 100%
  border: 1px solid darken($WHITEcolor, 30%)
  border-right: none
  border-left: none
  font-family: $font-family
  z-index: $zindex-floor
  background: darken($WHITEcolor, 0%)
  &-fixed
    position: fixed
    top: 0
  &-item
    display: inline-flex
    align-items: center
    justify-content: center
    width: calc(100% / 5)
    padding: 15px 8px
    color: darken($WHITEcolor, 88.5%)
    cursor: pointer
    &:hover
      background: darken($WHITEcolor, 10%)
    @media (min-width: $screen-md)
      width: fit-content
      padding: 20px 30px
      font-size: $font-size-md
    &-active
      background: darken($WHITEcolor, 15%)
  &-pane
    display: none
    max-width: 800px
    +distanceMP(0 auto, 30px)
    word-break: break-all
    &-active
      display: block
    &-title
      padding-bottom: 30px
