.sideMenu
  font-size: $font-size-md
  &-title
    color: darken($WHITEcolor, 58.5%)
  &-link
    text-decoration: none
  &-content
    +distanceMP(20px 0, 0 20px)
    border-left: 1px solid darken($WHITEcolor, 22%)
    &-item
      line-height: 1.7em
      &-active
        color: $CIScolorLink
        font-weight: 600
